<%- include ('partials/head.ejs') -%>
    <h1>Products</h1>
    <!-- <pre>
      <% for(var i = 0; i < items.length; i++) {%>
        <h1><%= items[i].id  %></h1>
        <h2><%= items[i].name  %></h2>
      <% } %>
    </pre> -->

    <ul>
      <% for(var i = 0; i < items.length; i++) {%>
        <li><%= items[i].name %></li>
      <% } %>
    </ul>

    <h3>Add a new product</h3>

    <form action="/new-product" method="POST">
      <input type="text" name="newItem" id="newItem">
      <button>
        Add a New Product
      </button>
    </form>

    <script>
      const txtNewItem = document.getElementById('newItem');
      txtNewItem.focus ();

    </script>

<%- include ('partials/footer.ejs') -%>
